# Virtual Environments
venv/
.venv/
env/
venv311/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Secrets & Logs
.env
*.log
logs/

# Version Control & DVC Cache
.git/
.dvc/cache/
.dvc/tmp/

# OS System Files
.DS_Store