# Virtual Environment
venv311/
env/
.venv/

venv/
venv311/
.git/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
artifacts/
logs/


# Git & DVC local tracking files
.git/
.gitignore
.dvc/cache/
.dvc/tmp/
.dvcignore

# Python bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment secrets
.env

# Logs and system files
*.log
.DS_Store