# Virtual Environment & Python cache
venv311/
env/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
logs/
artifacts/
ss
venv/
__pycache__/
*.pyc

# DVC local cache and run files
.dvc/cache
.dvc/tmp

# Data and Models (tracked by DVC instead)

data/
logs/
*.csv

.env